#login-box
{
    position: absolute;
    top: 20%;
    left: 40%;

    width: 150px;
    height: 200px;
    border: 2px solid blue;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Chrome */
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;

    padding: 10px;
}
