extends layout-foundation

block content
  .row
    .large-12.columns
      .panel.callout
        nav.top-bar
          ul.title-area
            // Title Area
            li.name
              h1
                a(href='#') Talk2us
            // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
            li.toggle-topbar.menu-icon
              a(href='#')
                span Menu
          section.top-bar-section
            ul.right
              li
                button Demo
              li
                button FAQ
              li
                button(onClick="window.location='/login?redirect_to=/'") Sign-in
        .row
          .large-7.columns
            h2.subheader In-place, real-time conversations for your website.
          .large-4.columns
            button.alert.right Start conversations for your site
  .row
    .large-12.columns
      .row.collapse
        .large-4.columns
          //img(src='static/images/login.png', width='100%')
          .videopanel
            video#local-video(autoplay='autoplay')
        .large-4.columns
          //img(src='static/images/conversations.png', width='100%')
          .videopanel
            video#remote-video(autoplay='autoplay')
        .large-4.columns
          img(src='static/images/callme.png', width='100%')
  .row
    .large-4.columns
      button#connectbtn(disabled onclick='connect()') Connect
      button#hangupbtn(disabled onclick='hangup()') Hang Up
  .row
    .large-6.columns
      h3 Increase conversion rates, Reduce support costs for your websites
      p
        | Talk2Us enables you to provide "Click-to-Call" service from your online portal. Customer can talk with your customer representative or send a message anytime from your portal. This is done right from the browser and there is no need of any software or plug-in installation.
      p
        | Transform your customer experience and build great customer connections by providing instant access to your company representative. Close the deals and help the customer to take immmediate decisons. Think of it as having a virtual sales representative at your portal and providing customized buying expereince to the user.
    .large-6.columns
      div
        br
      .flex-video
        iframe(width='560', height='315', src='http://www.youtube.com/embed/YDh76tT8T1s', frameborder='0', allowfullscreen='')
  .row
    .large-12.columns
      hr
  .row
    .large-4.columns
      .panel
        h3.subheader Easy to get started
        img(src='static/images/customer_service.png')
        p
          br
          | Create a contact center for your campaign and add representatives who can answer the calls. You can configure the widgets for them which provide host of information like history of conversation, campaign/product information, previous resolutions and even integration with your CRM
    .large-4.columns
      .panel
        h3.subheader Straight from browser
        img(src='static/images/webrtc.png')
        p
          br
          | Talk2Us uses WebRTC to provide real-time audio/video communication right from user's browser. Unlike other video chat applications, webRTC does not need any third party applications. With webRTC you are not stuck with a proprietory solution and with the future-proof technology.
    .large-4.columns
      .panel
        h3.subheader Rich Media chat
        img(src='static/images/rmchat.png')
        p
          br
          | Browser based rich media chat enables sharing of screen-shots, product pictures while you are on the call. Other than text chats, users and customer representatives can share location information to enable service center identification and share pictures from the camera or screenshot.
