extends layout

block content
  script(src='/javascripts/jquery-1.9.1.min.js')
  if role == 'provider'
    script(src='/javascripts/provider.js')
  else
    script(src='/javascripts/client.js')
  #container
    #local
      video#local-video(autoplay='autoplay')
    .spacer
    #remote
      video#remote-video(autoplay='autoplay')
  button#connectbtn(disabled onclick='connect()') Connect
  button#hangupbtn(disabled onclick='hangup()') Hang Up
  #logout
    p
      a(href='/logout') Logout