!!! 5
//if IE 8
  html.no-js.lt-ie9(lang='en')  
// [if gt IE 8] <!
html.no-js(lang='en', ng-app="talk2us")
  // <![endif]
  head
    meta(charset='utf-8')
    // Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width')
    link(rel='icon', href='app/img/favicons/favicon.ico', type='image/x-icon')
    meta(name='keywords', content='rtc, webrtc, chat, enterprise, contact centre, conversation')
    meta(name='description', content='In-place, contextual, real-time conversations for your website')
    meta(name='author', content='Talk2Us')
    meta(name='copyright', content='Talk2Us, Copyright (c) 2013')
    title Talk2Us: In-place Conversation
    link(rel='stylesheet', href='app/css/normalize.css')
    link(rel='stylesheet', href='app/css/app.css')
    link(rel='stylesheet', href='app/css/fc-webicons.css')
    link(rel='stylesheet', href='app/css/font-awesome.css')
    script(src='app/lib/vendor/custom.modernizr.js')
    != JShare()
  body
    block content
    .row
      .large-12.columns
        hr
    .row
      .large-12.columns
        .panel
          ul.inline-list
            li
              a(href='#') About
            li
              a(href='#') Help
            li
              a(href='#') Blog
            li
              a(href='#') Contact
            li
              a(href='#')
                span.round.alert.label Get Talk2us
            li.right Copyright 2013
    script(src='/socket.io/socket.io.js')
    script(src='/app/lib/vendor/jquery.js')
    script(src='/app/lib/angular/angular.min.js')
    script(src='/app/js/app.js')
    script(src='/app/js/controllers.js')
    script(src='/app/js/directives.js')
    script(src='/app/js/filters.js')
    script(src='/app/js/services.js')
    script(src='app/lib/foundation/foundation.js')
    script(src='app/lib/foundation/foundation.alerts.js')
    script(src='app/lib/foundation/foundation.clearing.js')
    script(src='app/lib/foundation/foundation.cookie.js')
    script(src='app/lib/foundation/foundation.dropdown.js')
    script(src='app/lib/foundation/foundation.forms.js')
    script(src='app/lib/foundation/foundation.joyride.js')
    script(src='app/lib/foundation/foundation.magellan.js')
    script(src='app/lib/foundation/foundation.orbit.js')
    script(src='app/lib/foundation/foundation.placeholder.js')
    script(src='app/lib/foundation/foundation.reveal.js')
    script(src='app/lib/foundation/foundation.section.js')
    script(src='app/lib/foundation/foundation.tooltips.js')
    script(src='app/lib/foundation/foundation.topbar.js')
    script
      $(document).foundation();


