!!! 5
//if IE 8
  html.no-js.lt-ie9(lang='en')  
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    // Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width')
    link(rel='icon', href='static/images/favicons/favicon.ico', type='image/x-icon')
    meta(name='keywords', content='rtc, webrtc, chat, enterprise, contact centre, conversation')
    meta(name='description', content='In-place, contextual, real-time conversations for your website')
    meta(name='author', content='Talk2Us')
    meta(name='copyright', content='Talk2Us, Copyright (c) 2013')
    title Talk2Us: In-place Conversation
    link(rel='stylesheet', href='static/stylesheets/normalize.css')
    link(rel='stylesheet', href='static/stylesheets/app.css')
    link(rel='stylesheet', href='static/stylesheets/fc-webicons.css')
    script(src='static/javascripts/vendor/custom.modernizr.js')
    != JShare()
  body
    block content
    .row
      .large-12.columns
        hr
    .row
      .large-12.columns
        .panel
          ul.inline-list
            li
              a(href='#') About
            li
              a(href='#') Help
            li
              a(href='#') Blog
            li
              a(href='#') Contact
            li
              a(href='#')
                span.round.alert.label Get Talk2us
            li.right Copyright 2013
    script(src='/static/javascripts/jquery-1.9.1.min.js')
    script(src='/static/javascripts/script.js')
    //script
    //  document.write('<script src=' +
    //    ('__proto__' in {} ? 'static/javascripts/vendor/zepto' : 'static/javascripts/vendor/jquery') +
    //    '.js><\\/script>')
    //script
    //  $(document).foundation();
    //script(src='static/javascripts/foundation/foundation.js')
    //script(src='static/javascripts/foundation/foundation.alerts.js')
    //script(src='static/javascripts/foundation/foundation.clearing.js')
    //script(src='static/javascripts/foundation/foundation.cookie.js')
    //script(src='static/javascripts/foundation/foundation.dropdown.js')
    //script(src='static/javascripts/foundation/foundation.forms.js')
    //script(src='static/javascripts/foundation/foundation.joyride.js')
    //script(src='static/javascripts/foundation/foundation.magellan.js')
    //script(src='static/javascripts/foundation/foundation.orbit.js')
    //script(src='static/javascripts/foundation/foundation.placeholder.js')
    //script(src='static/javascripts/foundation/foundation.reveal.js')
    //script(src='static/javascripts/foundation/foundation.section.js')
    //script(src='static/javascripts/foundation/foundation.tooltips.js')
    //script(src='static/javascripts/foundation/foundation.topbar.js')
