doctype 5
html
  head
    link(rel='stylesheet', href='/static/stylesheets/login.css')
      
  body
    h1 Login to Talk2Us
    .outline
      form(action='/login', method='post')
        .row
          span.label Username:
          span.formw 
            input(type='text', name='username')
        .row
          span.label Password:
          span.formw 
            input(type='password', name='password')
        .row
          .button
            input(type='submit', value='Login')
    .outline(width='20%')
      a(href='/auth/facebook')
        img(src='/app/img/login-with-facebook.png', width='154', height='22')