form(action='/login', method='post')
  #name-container
    label Username:
    input(type='text', name='username')
  #pwd-container
    label Password:
    input(type='password', name='password')
  input(type='submit', value='Login')